[Desktop Entry]
Type=Application
Name=Chemvas
GenericName=Chemical Structure Editor
Comment=2D chemical structure drawing canvas
Exec=chemvas %f
Icon=chemvas
Terminal=false
Categories=Education;Science;Chemistry;Graphics;2DGraphics;
MimeType=application/x-chemvas;
StartupWMClass=Chemvas
