[Desktop Entry]
Type=Application
Name=Chemvas
GenericName=Chemical Structure Editor
Comment=Draw chemical structures and reaction schemes; export publication-ready figures
Exec=chemvas %f
Icon=chemvas
Terminal=false
Categories=Education;Science;Chemistry;Graphics;2DGraphics;
MimeType=application/x-chemvas;
StartupWMClass=Chemvas
